; Editorconfig settings: see http://editorconfig.org/#supported-properties
; Keep this file consistent with .gitattributes ! end_of_line <-> eol=crlf

root = true  ; top-most EditorConfig file

[*]
end_of_line = lf
insert_final_newline = false

; Markdown: KEEP trailing whitespace!
[*.{md,markdown}]
trim_trailing_whitespace = false
end_of_line = lf
charset = utf-8

; C,C++: 4 space indentation
[*.{c,h,cpp}]
charset = latin1
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
;insert_final_newline = true

[*.txt]
indent_style = tab
indent_size = 8
end_of_line = crlf

[*.bat]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
