.gitattributes export-ignore
.gitignore export-ignore
* text=auto
*.sh eol=lf
*.ac eol=lf
*.am eol=lf
*.sln eol=crlf
*.vcproj eol=crlf
*.vcxproj* eol=crlf
*.cmd eol=crlf
*.bat eol=crlf
*.txt eol=crlf
*.c eol=lf
*.h eol=lf
